[local-base]
name=CentOS Base
baseurl=http://repos1.eid.local/base/
gpgcheck=0
enabled=1

[local-centosplus]
name=CentOS CentOSPlus
baseurl=http://repos1.eid.local/centosplus/
gpgcheck=0
enabled=1

[local-extras]
name=CentOS Extras
baseurl=http://repos1.eid.local/extras/
gpgcheck=0
enabled=1

[local-updates]
name=CentOS Updates
baseurl=http://repos1.eid.local/updates/
gpgcheck=0
enabled=1