[Unit]
Description=Rocketmq Nameserver Service
After=defaut.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/runmqnamesrv
ExecStop=/data/mq_admin/rocketmq-all-4.5.1/bin/mqshutdown namesrv

[Install]
WantedBy=defaut.target